@media(min-width:576px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    header .header{
        display: flex;
        width: 100%;
        background-color: red;
    }
    header .header .left{
    
        width: 25%;
    }
    header .header .left h1{
    
    }
    header .header .middele ul li{
        display: inline;
        margin: 5px;
    }
    
    header .header .middele{
        width: 49%;
    }
    
    
    
    header .header .middele ul li a{
        text-decoration: none;
        font-size: 17px;
    }
   
    
    header .header .right i{
        font-size: 20px;
        margin: 10px;
    }
}